# Local Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfvars

# Crash logs
crash.log
*.tfplan

# macOS and editor files
.DS_Store
*.swp
*.swo

#lambda files
lambda.zip

#Python virtrual environment
.venv/

#Compiled Python File Crap
tests/__pycache__/
tests/__pycache__/lambda_function.cpython-313.pyc
tests/*.py[cod]
tests/.pytest_cache/
visitor_lambda/__pycache__/
#pytest cache
tests/.pytest_cache


#VSCode
.vscode/